body
{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 22px;
	background: url(images/cv-bg.jpg) no-repeat center;

}

h1, .main, .citation, .expérience
{
	text-align: center;
}

h1
{
	font-size: 100px;
}

img.display
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.citation
{
	border: 3px black solid;
	font-style: italic;

}

h2
{
	text-decoration: underline;
	color: #88421D
}

#block
{
	display: flex;
	justify-content: center;
}

.expérience
{
	border: 3px solid;
}